/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    background: #965353;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container {
    width: 90%;
    max-width: 1000px;
    background: #ffffff;
    padding: 40px 30px;
    border-radius: 10px;
    border: 3px solid #c08081; /* Old rose border */
    box-shadow: 0 4px 20px rgba(0,0,0,0.3);
}
.logo-container {
    text-align: center;
    margin-bottom: 20px;
}
.logo-container img {
    width: 100px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 10px 10px rgba(185, 8, 8, 0.3);
}
h2 {
    text-align: center;
    margin-bottom: 5px;
    color: #491d1c;
}
p {
    text-align: center;
    margin-bottom: 25px;
    color: #333;
}
.section-title {
    font-size: 18px;
    color: #703738;
    font-weight: 600;
    margin-top: 25px;
    margin-bottom: 10px;
    border-bottom: 2px solid #c08081;
    padding-bottom: 5px;
}
.form-wrapper {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}
.left-side, .right-side {
    flex: 1;
    min-width: 300px;
}
.input-group {
    margin-bottom: 15px;
    position: relative;
}
.input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: 500;
}
.input-group input, .input-group select {
    width: 100%;
    padding: 10px 12px;
    border: 1px solid #999;
    border-radius: 5px;
    font-size: 14px;
    outline: none;
}
.input-group span {
    color: red;
    font-size: 13px;
    position: absolute;
    bottom: -18px;
    left: 0;
}
.terms {
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.terms label {
    font-size: 14px;
}
button#submit-btn {
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    background: #5a1819;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}
button#submit-btn:hover {
    background: #5c1818;
}
#loading {
    margin-top: 15px;
    text-align: center;
    color: #703738;
    font-weight: bold;
}
#success-message {
    margin-top: 15px;
    text-align: center;
    font-weight: bold;
}
.form-footer {
    text-align: center;
    margin-top: 30px;
    font-size: 14px;
    color: #c08081;
    font-weight: 500;
}
/* Responsive */
@media screen and (max-width: 768px) {
    .form-wrapper {
        flex-direction: column;
    }
}
